@font-face {
  font-family: "Walsheim Regular";
  src: url("../fonts/GT-Walsheim-Regular.woff2") format("woff2"), url("../fonts/GT-Walsheim-Regular.woff") format("woff");
}

@font-face {
  font-family: "Walsheim Medium";
  src: url("../fonts/GT-Walsheim-Medium.woff2") format("woff2"), url("../fonts/GT-Walsheim-Medium.woff") format("woff");
}

html {
  font-size: 13px;
  font-family: 'Walsheim Regular', sans-serif;
}

.top-buffer { margin-top:20px; }

.body-container {
    max-width: 640px;
    margin: auto;
}

video {
  max-width: 100%;
}

#intro-vid {
  margin-top: 1rem;

}

.full-go-big {
  max-height: none;
}

.buy-button {
  cursor: pointer;
  border: 2px #ee2348 solid;
  border-radius: 0;
  background: #fff;
  color: #ee2348;
  margin-bottom:6rem;
  margin-top:1rem;
  padding: .8rem;
  font-family: 'Walsheim Medium', sans-serif;
  font-size: 1.2rem;
}

.buy-button:hover {
  border: 2px #ee2348 solid;
  background:#ee2348;
  color: #fff;
  text-decoration: none;
}

.button_container {
  margin-bottom: 2rem;
  text-align: center;
}

.navbar .button_container {
  margin-bottom: 0;
  text-align: center;
  float: right;
}

#intro-button {
  margin-top: 3rem;
  margin-bottom: 6rem;
  text-align: left;
}

a {
  color: #ee2348;
}

a:hover {
  color: #ee2348;
  text-decoration: underline;
}


h1 {
  font-family: 'Walsheim Medium', sans-serif;
  font-size: 2.5rem;
  margin-top:2rem;
}

h2 {
  font-family: 'Walsheim Regular', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

img {
  max-width: 100%;
}

p {
  text-align: left;
}

.side-desc {
  align-items: flex-end;
  display: flex;
}

.side-desc-logo {
  align-items: flex-flex-start;
  display: flex;
}

.feature-row {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.top-desc img {
  margin-top: 0;
}

.side-desc p, .top-desc p {
  text-align: left;
}

.big-paragraph {
  font-size: 1.2rem;
  text-align: center;
}

.big-header {
  text-align: center;
}

.logo {
  max-width: 85%;
  margin:auto;
  margin-top: 2rem;
}

.contact-footer {
  background-color: #b6e2e9;
}

.contact-footer p {
  text-align: center;
}

.contact-footer .row {
  padding-top: 1rem;
  max-width: 640px;
  margin: auto;
  margin-top: 10rem;
}

.middle-img-desc {
  margin-bottom: 0;
}

.navbar {
  background-color: #b6e2e9;
  padding: 0 1.25rem;
}

.logo-nav{
  font-family: 'Walsheim Medium', sans-serif;
  font-size: 2.0rem;
}

.logo-nav:hover {
  color: #ee2348;
}

.logo-nav:active {
  color: #ee2348;
  text-decoration: none;
}

.navbar-dark .navbar-brand {
  color: #000;
}

.navbar-toggler {
    padding: .25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
  }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-nav .nav-link {
  color: #ee2348;
  font-size: 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ee2348;
  text-decoration: underline;
}

.nav-item {
  color: #ee2348;
}

@media (min-width: 576px) {
  .nav-item {
    padding-left: 1rem;
  }
  .nav-item:last-of-type {
    padding-right: 1rem;
  }
}

.big-price {
  font-size: 2rem;
  margin: 2rem 0 0 0;
}

.rb-label {
  font-family: 'Walsheim Medium', sans-serif;
  margin: 2rem 0 .3rem 0;
}

/* thanks, http://selfteach.me/customizing-radio-buttons-checkboxes/ */
input[type=radio] {
	display: none;
}

label {
	background: url('../img/radio-empty.png') left center no-repeat;
  background-size: 1rem;
	display: block;
	padding-left: 2rem;
  margin-bottom: 0;
  cursor: pointer;
}

input[type=radio]:checked + label {
	background: url('../img/radio-selected.png') left center no-repeat;
  background-size: 1rem;
  padding-left: 2rem;
  cursor: pointer;
}

input[type=image] {
	max-width: 125px;
}

#buy-a-booth {
  margin-bottom: 1rem;
}

.price-details {
  color: #777;
  padding-left: .3rem;
}

#checkout-vis {
    padding-bottom: 1rem;
}

.buy-button-row {
  margin-top: 1rem;
}

.buy-button-row p {
  margin-bottom: .5rem;
}

.bg-img2 {
  background-image:url('http://placehold.it/200x200/fc43c');
  background-repeat:repeat-x;
  background-size: 100%;
}