@font-face {
  font-family: "Walsheim Regular";
  src: url("../fonts/GT-Walsheim-Regular.woff2") format("woff2"), url("../fonts/GT-Walsheim-Regular.woff") format("woff");
}

@font-face {
  font-family: "Walsheim Medium";
  src: url("../fonts/GT-Walsheim-Medium.woff2") format("woff2"), url("../fonts/GT-Walsheim-Medium.woff") format("woff");
}

html {
  font-size: 13px;
  max-width: 640px;
  font-family: 'Walsheim Regular', sans-serif;
  margin: auto;

}

video {
  max-width: 100%;
  max-height: 600px;
}

#intro-vid {
  margin-top: 6rem;

}

.full-go-big {
  max-height: none;
}

input, .buy-button {
  border: 1px red solid;
  background: #fff;
  color: red;
  margin-bottom:6rem;
  margin-top:1rem;
  padding: .8rem;
  font-family: 'Walsheim Medium', sans-serif;
  font-size: 1.2rem;
}



h1 {
  font-family: 'Walsheim Medium', sans-serif;
  font-size: 2.5rem;
  margin-top:2rem;
}

h2 {
  font-family: 'Walsheim Regular', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

img {
  max-width: 100%;
}

p {
  text-align: justify;
}

.side-desc {
  align-items: flex-end;
  display: flex;
}

.feature-row {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.top-desc img {
  margin-top: 0;
}

.side-desc p, .top-desc p {
  text-align: left;
}

.big-paragraph {
  font-size: 1.2rem;
  text-align: left;
}

.logo {
  padding: 15px;
}

.contact-footer {
  margin-top: 12rem;
  margin-bottom: 6rem;
  padding: 2rem 0;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

#buy-a-booth img {
  margin-bottom: 2rem;
}
