html {
  font-size: 16px;
}

#intro-vid {
  max-width: 66%;
  max-height: 500px;
}

.contact-footer .row {
  margin-top: 16rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.rb-label {
margin: 0;
}
.rb-label:not(:first-of-type)
{
    margin-top: 2rem;
}

.big-price {
  font-size: 2.5rem;
  margin-top: 4rem;
}

.buy-button-row {
  margin-top: 2rem;
}
